{% extends 'base.html.twig' %}

{% block title %}Externatic
{% endblock %}
{% block body %}
	<div class="homeImage d-flex justify-content-center align-items-center float-xxl-start float-xxl-none">
		<img src="{{ asset('build/images/HomeImage.png') }}" class="home" alt="">
		<h1 class="mainTitle d-flex justify-content-center position-absolute text-white text-center mb-5">
			Cherchez votre nouvel emploi
		</h1>
	</div>
	{% for offer in offers %}
		<div class="row justify-content-center">
			<div class="col-9 col-lg-8 col-xxl-7">
				<a href="{{ path('app_offer_show', {'id': offer.id}) }}" class="offer-link">
					<div class="offer card d-flex flex-row justify-content-between">
						<div class="col-11">
							<div class="offer-body card-body">
								<p class="offer-text">{{ offer.title }}</p>
							</div>
						</div>
						<div class="homeoffermore col-1 d-flex justify-content-center align-items-center">
							<div>

								<svg xmlns="http://www.w3.org/2000/svg" class="logo-offer-more bi bi-plus" viewbox="0 0 16 16">
									<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
								</svg>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	{% endfor %}

	<div class="title">
		<div class="inscription d-flex justify-content-center mt-5 text-center">
			<h2 class="homeH2 ">
				Vous souhaitez postuler
				<span class="offerTitle text-center-md">à une offre?</span>
			</h2>
		</div>
		<div class="btn-inscription d-flex justify-content-center m-3">
			<a href="#" class="btn">Inscrivez-vous</a>
		</div>
	</div>
{% endblock %}
