includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    excludePaths:
        - src/Security
        - src/DataFixtures/CandidateFixtures.php
        - src/DataFixtures/RecruiterFixtures.php
        - src/DataFixtures/UserFixtures.php
    ignoreErrors:
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
