{% extends "base.html.twig" %}
{% block title %}
	Erreur 404
{% endblock %}

{% block styleBody %}class="background-login" style="background-image: url('{{ asset('build/images/HomeImage.png') }}')"
{% endblock %}


{% block body %}
	<main class="container">

		<div class="justify-content-center align-items-center float-xxl-start float-xxl-none">

			<h1 class="mainTitle d-flex justify-content-center text-white text-center mb-4 mt-0 pt-5">
				Erreur 404
			</h1>

			<h2 class="d-flex justify-content-center text-white text-center py-5">
				Ce n'est pas ici que vous trouverez votre prochain emploi
			</h2>

		</div>

	</main>
{% endblock %}
