{% extends "base.html.twig" %}
{% block title %}
	Erreur 404
{% endblock %}

{% block styleBody %}class="background-error" style="background-image: url('{{ asset('build/images/ErrorImage.jpg') }}')"
{% endblock %}


{% block body %}
	<main class="container">

		<div class="justify-content-center align-items-center float-xxl-start float-xxl-none">

			<h1 class="mainTitle d-flex justify-content-center text-white text-center mb-4 mt-0 pt-5">
				Erreur 404
			</h1>

			<h2 class="d-flex justify-content-center text-white text-center py-5">
				Ce n'est pas ici que vous trouverez votre prochain emploi
			</h2>

			<div class="btn-inscription d-flex justify-content-center m-1 mb-5 py-5">
				<a href="{{ path('app_home') }}" class="btn rounded-0">Retour à l'accueil</a>
			</div>

		</div>

	</main>
{% endblock %}
