{% extends 'base.html.twig' %}

{% block title %}Edit Offer
{% endblock %}

{% block body %}
	<main class="mainSection mb-5">

		<div class="mainForm">
			<h1 class="text-center">Editer l'offre</h1>
			{% if is_granted('ROLE_ADMIN') %}
				{{ include('offer/_form.html.twig', {'button_label': 'Editer l\'offre'}) }}
			{% elseif is_granted('ROLE_RECRUITER') %}
				{{ include('offer/_form_recruiter.html.twig', {'button_label': 'Editer l\'offre'}) }}
			{% endif %}


			<div class="d-flex flex-row">
				<div class="pink-circle">
					<a href="{{ path('app_offer_index') }}">
						<svg xmlns="http://www.w3.org/2000/svg" class="logo-admin bi bi-arrow-return-left" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
						</svg>
					</a>
				</div>
				{{ include('offer/_delete_form.html.twig') }}
			</div>
		</div>

	</main>
{% endblock %}
