{% extends 'base.html.twig' %}

{% block title %}Offer index
{% endblock %}

{% block body %}

	<main class="container mb-4">

		<h1 class="text-center">Jean-Michel Admin</h1>

		<h2 class="text-center">Vos informations</h2>

		<div class="row justify-content-center">
			<div class="col-11 col-md-9 col-lg-7 col-xl-6 col-xxl-6">
				<div class="card-infos card d-flex flex-row">
					<div class="col-11">
						<div class="card-body">
							<div class="d-flex flex-row">
								<svg xmlns="http://www.w3.org/2000/svg" class="logo-infos" viewbox="0 0 16 16">
									<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
								</svg>
								<p class="d-flex align-items-center">yvonnick.loidreau@externatic.fr</p>
							</div>
							<div class="d-flex flex-row">
								<svg xmlns="http://www.w3.org/2000/svg" class="logo-infos" viewbox="0 0 16 16">
									<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
								</svg>
								<p class="d-flex align-items-center">06 11 55 36 82</p>
							</div>
							<div class="d-flex flex-row">
								<svg xmlns="http://www.w3.org/2000/svg" class="logo-infos" viewbox="0 0 16 16">
									<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
									<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
								</svg>
								<p class="d-flex align-items-center mb-0">3 Route de St Germain, 63500 Issoire</p>
							</div>
						</div>
					</div>
					<div class="col-1 d-flex align-items-center">
						<div>
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" class="logo-infos-more bi bi-chevron-compact-right" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"></path>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h2 class="text-center">Les offres publiées</h2>

		<div class="row justify-content-center">
			<div class="col-11 col-md-10 col-lg-9 col-xxl-8">
				<div class="input-group">
					<input type="text" list="datalistOptions" class="form-control search-offers" placeholder="Rechercher une offre par nom, entreprise...">
					<datalist id="datalistOptions">
						<option value="aaaaaaTest"></option>
						<option value="bbbbbTest"></option>
					</datalist>
					<span class="input-group-text search-logo" id="basic-addon1">
						<svg xmlns="http://www.w3.org/2000/svg" class="logo-search bi bi-search" viewbox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
						</svg>
					</span>
				</div>
			</div>
		</div>

		{% for offer in offers %}
			<div class="row justify-content-center">
				<div class="col-9 col-lg-8 col-xxl-7">
					<a href="{{ path('app_offer_show', {'id': offer.id}) }}" class="offer-link">
						<div class="card offer d-flex flex-row justify-content-between">
							<div class="col-11">
								<div class="offer-body card-body">
									<p class="offer-text">
										{{ offer.title }}
									</p>
								</div>
							</div>
							<div class="offer-more col-1 d-flex justify-content-center align-items-center">
								<div>

									<svg xmlns="http://www.w3.org/2000/svg" class="logo-offer-more bi bi-plus" viewbox="0 0 16 16">
										<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
									</svg>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="col-2 col-md-1 d-flex flex-row align-items-center p-0">
					<div class="pink-circle">
						<a href="{{ path('app_offer_edit', {'id': offer.id}) }}">
							<svg xmlns="http://www.w3.org/2000/svg" class="logo-admin bi bi-vector-pen" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"></path>
								<path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"></path>
							</svg>
						</a>
					</div>

					{{ include('offer/_delete_form.html.twig') }}
				</div>
			</div>
		{% endfor %}

	</main>

{% endblock %}
