{% extends 'base.html.twig' %}

{% block title %}New Offer{% endblock %}

{% block body %}
    <h1>Create new Offer</h1>

    {{ include('offer/_form.html.twig') }}

    <a href="{{ path('app_offer_index') }}">back to list</a>
{% endblock %}
