{% extends 'base.html.twig' %}

{% block title %}Nouvelle offre
{% endblock %}

{% block body %}
	<h1>Créer une offre</h1>
	{% if no_stacks is defined %}
		<p>{{ no_stacks }}</p>
	{% endif %}

	{{ include('offer/_form.html.twig') }}

	<a href="{{ path('app_offer_index') }}">Revenir à la liste</a>
{% endblock %}
