{% extends 'base.html.twig' %}

{% block title %}Nouvelle offre
{% endblock %}

{% block body %}
	<main class="mainSection">
		<div class="mainForm">
			<h1>Créer une offre</h1>

			{{ include('offer/_form.html.twig') }}
		</div>
	</main>
{% endblock %}
