{% extends 'base.html.twig' %}

{% block title %}Informations du recruteur
{% endblock %}

{% block body %}
	<main class="mainSection mb-5">
		<div class="mainForm">

				<h1 class="text-center">Informations du recruteur</h1>

			{{ include('recruiter/_form.html.twig') }}
		</div>
	</main>

{% endblock %}
