{% extends 'base.html.twig' %}

{% block title %}New Recruiter{% endblock %}

{% block body %}
    <h1>Create new Recruiter</h1>

    {{ include('recruiter/_form.html.twig') }}

    <a href="{{ path('app_recruiter_index') }}">back to list</a>
{% endblock %}
