.home {
    width: 100%;
    height: auto;
    min-height: 300px;
}

.homeH2 {
    color: $black;
}

.homeoffermore {
    background-color: $black;

    &:hover {
        background-color: $mainPink;
    }
}

.inscription {
    font-weight: bold;
    font: 55px;
    font-family: Jost;
}

.search {
    border: solid black 2px;
    background-color: $light;
}

.offerTitle {
    color: $mainPink;
}

.btn-inscription .btn {
    width: 250px;
    color: $light;
    background-color: $black;
    font: 600 20px Jost;
    color: $light;
    text-align: center;
    margin-top: 20px;

    &:hover {
        background-color: $mainPink;
    }
}