.nav {
    background-color: #EFEDED;
    color: black;

    a {
        color: black;
        text-decoration: none;
        font: 500 20px Jost;

        &:hover {
            color: black;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.navDiv {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-brand .logo {
    width: 280px;
    height: 50px;
}

.logoMobile {
    width: 280px;
    height: 50px;
}

.avatar {
    width: 65px;
}

.textMenu {
    color: #000;
    font: 800 20px Jost;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}