@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

.navbar-brand .logo {
    width: 280px;
    height: 50px;
}

.navbar-brand .logoAvatar {
    width: 100%;
    height: 50px;
}

.navbar-toggler {
    margin-top: -50px;
}