.offer-text-details {
    text-align: center;
    font: normal normal 600 20px/29px Jost;
    color: black;
}

.logo-back {
    height: 90px;
    width: 90px;
    fill: $mainPink
}

#recruiterLogo {
    width: 60px;
}