@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$mainPink: #CA2262;
$light: #FFFFFF;
$black: black;

$themes-colors: (
    "light": $light,
    "mainPink": $mainPink,
    "black": $black,
);

body {
    background-color: $light;
}

h1.mainTitle {
    color: $light;
    font: 900 55px Jost;
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
}

/**************NavBar**************/

.navbar-brand .logo {

    width: 280px;
    height: 50px;
}

.navbar-brand .logoAvatar {
    width: 100%;
}

/****************HomeImage**************/

.home {
    width: 100%;
    height: auto;
    min-height: 300px;
}

.inscription {
    font-weight: bold;
    font: 55px;
    font-family: Jost;
}

.search {
    border: solid black 2px;
    background-color: $light;
}

.offerAnnonce {
    border: solid black 2px;
    width: 50%;
    font: 500 30px Jost;
}

.ajout {
    border: solid black 2px;
    width: 50px;
    height: 50px;
    background-color: $black;
    color: $light;
}

.offerTitle {
    color: #CA2262;
}

.btn-inscription .btn {
    width: 250px;
    color: $light;
    background-color: $black;
    font: 600 20px Jost;
    color: $light;
    text-align: center;
    margin-top: 20px;

    &:hover {
        background-color: $mainPink;
    }
}

@import "~bootstrap/scss/bootstrap"