@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "menu";
@import "list-admin";
@import "offer-show";

// customize some Bootstrap variables
$black: #000000;
$mainPink: #CA2262;
$light: #fff;

$theme-colors: (
    "black": $black,
    "mainPink" : $mainPink,
);

/* H1, H2, H3 */
h1 {
    color: $mainPink;
    font: 900 48px Jost;
    text-align: center;
    margin-top: 30px;
}

h2 {
    color: $mainPink;
    font: 900 40px Jost;
    text-align: center;
    margin-top: 40px;
}

/* OFFER */
.offer {
    border: 2px solid $black;
    border-radius: 0px;
    margin-top: 25px;
    background-color: $black;
}

.offer:hover {
    border: 2px solid $mainPink;
    background-color: $mainPink;
}

.offer-body {
    padding: 10px;
    background-color: white;
}

.offer-text {
    margin: 0px;
    font: normal normal 600 20px/29px Jost;
}

.offer-link {
    text-decoration: none;
    color: $black;
}

.offer-link:hover {
    color: $black;
}