<label for="city" class="{{ label_class }}">Ville</label>
<input type="text" id="city" name="city" list="cities" class="form-control" placeholder="Ex : Rennes (35)" autocomplete="off">
<datalist id="cities"></datalist>
