<nav class="navbar bg-light shadow-sm fixe-top">
	<div class="container-fluid d-flex justify-content-around align-items-center me-5">
		<a class="d-flex align-items-center mt-2 h5 text-dark text-decoration-none" href="/offer/new">Publier une offre
		</a>
		<a class="navbar-brand" href="/">
			<img src="{{ asset('build/images/Logo-Externatic.png') }}" class="logo d-flex align-items-center me-5" alt="">
		</a>
		<a>
			<img src="{{ asset('build/images/noun-profile.png') }}" class="logoAvatar d-flex me-5" alt=""></a>
	</div>
</nav>
